<h2>About</h2>
<p>Co-Founder/CEO of <a href="http://www.mammoth.bio/" target="_blank">Mammoth Biosciences</a>. Previously: PhD <a href="http://www.stanford.edu/" target="_blank">Stanford University</a> (NSF Graduate Fellow) and BA <a href="http://www.princeton.edu/" target="_blank">Princeton University</a>.</p>

<h2>Featured</h2>
<ul>
  <li>Panel at TechCrunch Disrupt 2018: <a href="https://techcrunch.com/video/programming-life-with-rachel-haurwitz-caribou-biosciences-and-trevor-martin-mammoth-biosciences-disrupt-sf-2018/" target="_blank">Programming Life</a></li>
  <li>Scientific paper in <i>Cell</i>: <a href="https://www.cell.com/cell/pdfExtended/S0092-8674(16)30339-7" target="_blank">Pooled ChIP-Seq Links Variation in Transcription Factor Binding to Complex Disease Risk</a></li>
  <li>Freelance article in FiveThirtyEight: <a href="https://fivethirtyeight.com/features/dissecting-trumps-most-rabid-online-following/" target="_blank">Dissecting Trump's Most Rabid Online Following</a> </li>
  <li>Freelance article in The Atlantic: <a href="https://www.theatlantic.com/membership/archive/2018/04/what-reddit-tells-us-about-political-coalitions-and-conflicts/557405/" target="_blank">What Reddit Tells Us About Political Coalitions</a> </li>
  <li>Scientific paper in ACL2017 NLPandCSS: <a href="http://www.aclweb.org/anthology/W17-2904" target="_blank">community2vec: Vector representations of online communities encode semantic relationships</a></li>
</ul>

<p>Email is best contact method.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    trevorm [ at ] alumni.princeton.edu
  </li>
  <li class="main-list-item">
    <span class="fa fa-bar-chart fa-lg main-list-item-icon"></span>
    <a href="https://www.shorttails.io/" target="_blank">Short Tails Statistics Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/trevormmartin/" target="_blank">Professional Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/martintrevor_" target="_blank">@martintrevor_</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/trevormartin/" target="_blank">Code</a>
  </li>
</ul>
